{{ $showDate := .showDate }}
{{ $showThumbnail := .Params.showThumbnail | default (.Site.Params.list.showThumbnail | default false) }}
{{ $lvl := .lvl }}
{{ with .page }}
<li>
    <div>
    <h{{$lvl}}>
    {{ with .Params.externalUrl }}
        <a href="{{ . }}" target="_blank" rel="external">
    {{ else }}
        <a href="{{ .RelPermalink }}">
    {{ end }}
    <!-- The below line was used to connect blogpost's .Params.Title and .Params.Subtitle, before realizing there is a .LinkTitle... -->
    <!-- {{ .LinkTitle | emojify }}: {{ if .Params.subtitle }}{{ .Params.subtitle | emojify }} {{ end }} </a> -->
    {{ .LinkTitle | emojify }} </a>
    </h{{$lvl}}>
    {{ partial "single/meta.html" . }}
    {{ if .Params.subtitle }}
        <h{{$lvl}} class="pg-subtitle" style="margin: 1vh;">{{ .Params.subtitle | emojify }}</h{{$lvl}}>
    {{ end }}

    {{ template "partials/home/pg-desc.html" . }}
    </div>

    <!-- Thumbnail - Use coverImg as thumbnail -->
    {{ if $showThumbnail }}
        {{ if .Params.coverImg }}
            {{ $imgData := dict "Page" . "URL" .Params.coverImg "Alt" .LinkTitle "Size" "x150" "Style" "thumbnail" }}
            {{ partial "image-renderer.html" $imgData }}
        {{ end }}
    {{ end }}
</li>
{{ end }}
