<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  {{ partial "head.html" . }}
  <body>
    <script>
      const siteTheme = "{{ .Site.Params.defaultTheme | default "auto" }}";
      let savedTheme = localStorage.getItem('theme') || siteTheme;
      if (savedTheme == 'auto') {
        if ( window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ) {
          savedTheme = 'dark';
        }
      }
      if (savedTheme === "dark") {
        document.body.classList.add('dark');
        localStorage.setItem('theme', 'dark');
      }
    </script>
    <div class="content">
      {{ partial "header.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>

    <div class="back-to-top-container" id="backToTopContainer">
      <a href="#" class="back-to-top-button back-to-top-button back-to-top-button--default" id="backToTopButton">
        <span class="back-to-top-button__icon back-to-top-button__icon--solid">
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-chevrons-up" width="60" height="60"
  viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
  <path d="M9 15l3 -3l3 3" />
  <path d="M9 11l3 -3l3 3" />
  <path d="M12 21a9 9 0 1 0 -.265 0l.265 0z" />
</svg>        </span>
      </a>
    </div>
  </body>
</html>
