<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  {{ partial "head.html" . }}
  <body>
    <script>
      const siteTheme = "{{ .Site.Params.defaultTheme | default "auto" }}";
      let savedTheme = localStorage.getItem('theme') || siteTheme;
      if (savedTheme == 'auto') {
        if ( window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ) {
          savedTheme = 'dark';
        }
      }
      if (savedTheme === "dark") {
        document.body.classList.add('dark');
        localStorage.setItem('theme', 'dark');
      }
    </script>
    <div class="content">
      {{ partial "header.html" . }}
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>

    <div class="back-to-top-container" id="backToTopContainer">
      <a href="#" class="back-to-top-button back-to-top-button back-to-top-button--default" id="backToTopButton">
        <span class="back-to-top-button__icon back-to-top-button__icon--solid">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-up-filled" width="60"
            height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4.98 3.66l-.163 .01l-.086 .016l-.142 .045l-.113 .054l-.07 .043l-.095 .071l-.058 .054l-4 4l-.083 .094a1 1 0 0 0 1.497 1.32l2.293 -2.293v5.586l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.089 -.064l-.113 -.062l-.081 -.034l-.113 -.034l-.112 -.02l-.098 -.006z"
              stroke-width="0" fill="currentColor" />
          </svg>
        </span>
      </a>
    </div>
  </body>
</html>
