:root {
  --ff: "Ubuntu";
  --radius: 6px;

  --primary-color: #012a36; /* Text */
  --secondary-color: #fcffeb; /* Background */
  --secondary-color-dark: #d5b986; /* Embedded Frames */
  --tertiary-color: #c85c2d; /* Accent: Titles, Underlines, etc... */
  --tertiary-color-light: #d26637; /* Light Accent: Tags, etc... */
  --link-color: #b7542a; /* Secondary */

  --black: #292929;
  --code-bg: #272822; /*Monokai*/
  --code-fg: #f8f8f2; /*Monokai*/
  --code-scroll-thumb: #525252;
  --scrollbar-track: #efefe6;
  --scrollbar-thumb: #b7b78f;
}

.dark {
  --primary-color: #efefe6;
  --secondary-color: #292929;
  --tertiary-color: #ff7f11;
  --link-color: #c76c1c;
  --tertiary-color-light: #a34c00;
  --secondary-color-dark: #343431;
  --scrollbar-track: #292929;
  --scrollbar-thumb: #525252;
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
}
