{{/* Metadata */}}

{{ if .IsHome }}
{{ with .Params.untilNextPost | default .Site.Params.untilNextTime }}
<br>
<div class="footer-note">
    You can connect with me on the socials ↴
</div>
{{ end }}

{{else}}
{{ if .Params.aboutPage }}
{{ with .Params.untilNextPost | default .Site.Params.untilNextTime }}
<br><div class="footer-note">
    Thanks for scrolling this far – I appreciate your interest! Let's stay connected on the socials ↴
</div>
{{ end }}
{{ else }}
{{ with .Params.untilNextPost | default .Site.Params.untilNextTime }}
<br><div class="footer-note">
    Thank you for reading! In the meantime, explore my <a href="/about">About Page</a> to learn more about me, and don't hesitate to connect with me on any of the socials ↴
</div>
{{ end }}
{{ end }}

{{ end }}
