<!-- <div class="description">
  {{ .Summary }}
</div> -->

<!-- <div class="description">
  {{ .Summary | htmlUnescape | safeHTML | strings.Truncate 1000 | plainify }}
</div> -->

<!-- {{ findRE `(?s)<p.*?>.*?</p>` .Summary 10 }} -->
{{ $regex := `(?s)<p.*?>.*?</p>` }}
{{ $matches := findRE $regex .Summary 10 }}


<div class="description">
  {{ $i := 0 }}
  <!-- Initialize a counter -->
  {{ range $matches }}
    {{ if gt $i 0 }}
      <!-- Check if the counter is greater than 1 -->
      <p>
        {{ index . | htmlUnescape | safeHTML | emojify | plainify | strings.Truncate 1000 }}
      </p>
    {{ end }}
    {{ $i = add $i 1 }}
    <!-- Increment the counter -->
  {{ end }}
</div>

<!-- {{ $truncated := .Truncated | default true }} -->
{{ $truncated := default true }}

{{ if $truncated }}
  <div class="read-more">
    <a href="{{ .RelPermalink }}">Read More ...</a>
  </div>
{{ end }}
